.badge {
  background-color: var(--gray-400);
  border-radius: 10px;
  color: var(--gray-200);
  display: inline-flex;
  font-size: var(--font-small);
  font-weight: bold;
  height: 1.25rem;
  line-height: 1.25rem;
  padding: 0 0.5rem;
}
