.delete-button {
  background: transparent;
  border: 0;
  border-radius: 8px;
  transition: background 0.1337s, color 0.1337s;
  cursor: pointer;
  color: var(--gray-300);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

  svg {
    width: 14px;
    height: 14px;
  }

  &:hover {
    background: var(--gray-400);
    color: var(--red);
  }
}
